<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="#" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col-md-9">
                                <h1 class="card-title" style="font-size: 1.3rem;" th:text="${recipe?.getTitle()}">Recipe
                                    Description
                                    Here!</h1>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-light btn-sm" href="#"
                                   th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-light btn-sm" href="/" role="button">Home</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-3">
                                <ul th:each="category : ${recipe.getCategories()}">
                                    <li th:remove="all">cat one</li>
                                    <li th:remove="all">cat one</li>
                                    <li th:text="${category.getDescription()}">cat one</li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <img th:src="@{~/images/guacamole400x400WithX.jpg}"
                                     src="/images/guacamole400x400WithX.jpg" alt="Not Found"
                                     width="200"
                                     height="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getPrepTime() + ' min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getDifficulty()}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getCookTime() + ' min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getServings()}">4</p>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getSource()}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="${recipe.getUrl()}" target="_blank">View Original</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col-md-10">
                                <h1 class="card-title" style="font-size: 1.3rem;">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-light" href="#"
                                   th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredient/new'}" role="button">New</a>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-light" href="#"
                                   th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredients'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <ul th:each="ingredient : ${recipe.getIngredients()}">
                                    <li th:text="${ingredient.getAmount() +
                                    ' '  + ingredient.getUom().getDescription() +
                                    ' - ' + ingredient.getDescription()}">
                                        1 Cup of milk
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title" style="font-size: 1.3rem;">Directions</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getDirections()}">Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                    montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                    pretium
                                    quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                    aliquet
                                    nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                    vitae,
                                    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                                    dapibus.
                                    Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                                    ligula,
                                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
                                    in,
                                    viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                                    laoreet.
                                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                                    sed
                                    ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title" style="font-size: 1.3rem;">Notes</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getNotes().getRecipeNotes()}">Lorem ipsum dolor sit amet,
                                    consectetuer adipiscing
                                    elit. Aenean commodo ligula
                                    eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                    montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                    pretium
                                    quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                    aliquet
                                    nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                    vitae,
                                    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                                    dapibus.
                                    Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                                    ligula,
                                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
                                    in,
                                    viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                                    laoreet.
                                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                                    sed
                                    ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>