<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Url</th>
    </tr>
    </thead>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe?.getId()}">123</td>
        <td th:text="${recipe?.getSource()}">hahah</td>
        <td th:text="${recipe?.getDescription()}">trash</td>
        <td th:text="${recipe?.getUrl()}">uol</td>
    </tr>
</table>
</body>
</html>